#!/usr/bin/env ruby

require_relative './.env'
require_relative './core/git_hooks'

file_path = ARGV[0]
raw_commit_message = File.read(file_path.to_s)

commit = Commit.new(raw_message: raw_commit_message)

check_result = CommitMessageRules::DefaultCheckingProfile.check(commit: commit)

if check_result.violated?
  puts check_result.message
  exit(1) if check_result.exit_if_violated?
end
